html,body{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.main-header{
    width: 100%;
}

.main-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: 100%;
    background-color: aqua;
    margin: 0;
    padding: 1rem;
    list-style: none;
}

.main-header-item {
    display: inline-block;
    justify-content: space-around;
    border-style: 1px solid;
    border-radius: 50px;
    border-width: 5px;
    background-color: white;
    padding: 5px;
    text-align:center;
    text-decoration: none;
}

.logo {
    border: 2px solid black;
    background-color: white;
}

/*.item4 {
    border-style: 1px solid;
    border-radius: 50px;
    background-color: white;
} */

.main {
    width: 100%;    
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: 100%;
    list-style: none;
    margin-left: 50px;
    margin-right: 0px;
}

.main-container-items {
    display: inline-block;
    justify-content: space-around;
    border-style: 1px solid;
    margin: 25px;
    padding: 25px;
}

.item1 {
    font-size: 1.5rem;
}

.item2 {
    padding-top: 80px;
    border-radius: 2px solid black;
}